@page
@model WebApplication.Pages.MH_DangNhapModel

@* Dang nhap *@
<form method="post">
    <label for="fname">Username</label><br>
    <input type="text" id="fname" name="username" value="@Model.Username"><br>
    <label for="fname">Password:</label><br>
    <input type="password" id="fname" name="password" value="@Model.Password"><br>
    <input type="submit" value="Đăng nhập">
</form>

@Model.Chuoi