@page
@model WebApplication.Pages.MH_DS_SanPhamModel
@{
}

<table>
    <tr>
        <th>Ma san pham</th>
        <th>Ten san pham</th>
        <th>Gia</th>
    </tr>
    @foreach (var sanPham in Model.DsSanPham)
    {
        <tr>
            <td>@sanPham.Id</td>
            <td>@sanPham.Name</td>
            <td>@sanPham.Price</td>
        </tr>
    }
</table>