@page
@model WebApplication.Pages.MH_DangKyModel
@* Dang ky *@
<form method="post">
    <label for="fname">Username</label><br>
    <input type="text" id="fname" name="username" value=""><br>
    <label for="fname">Password:</label><br>
    <input type="password" id="fname" name="password" value=""><br>
    <input type="submit" value="Đăng ký">
</form>