@page
@model WebApplication.Pages.MH_DS_SanPhamModel

@* Tim kiem san pham *@
<form method="post">
    <label for="fname">Keyword:</label><br>
    <input type="text" id="fname" name="keyword" value="@Model.Keyword"><br>
    <input type="submit" value="Tìm kiếm">
</form>

<div>
    <a href="MH_Them_SanPham">Thêm Sản phẩm</a>
</div>

@* Liet ke danh sach san pham *@
<table>
    <tr>
        <th>Mã sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Actions</th>
    </tr>
    @foreach (var sanPham in Model.DsSanPham)
    {
        <tr>
            <td>@sanPham.Id</td>
            <td>@sanPham.Name</td>
            <td>@sanPham.Price</td>
            <td>
                <a href="MH_Sua_SanPham?pid=@sanPham.Id">Sửa</a>
                <a href="MH_Xoa_SanPham?pid=@sanPham.Id">Xóa</a>
            </td>
        </tr>
    }
</table>